include cmake/*
include doc/manual/*.rst
include doc/manual/*.py
include doc/openrsp.bib
include include/* include/*/*
include src/* src/*/*
include tests/c/* tests/c/*/*
include tests/f90/* tests/f90/*/*
include tests/python/* tests/python/*/*
include AUTHORS COPYING COPYING.LESSER ChangeLog
include INSTALL MANIFEST.in NEWS README.rst RULES TODO
include CMakeLists.txt CTestConfig.cmake
include setup.cfg
